@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.logo-img {
  position: absolute;
  height: 50px;
}
.avatar-list-thumb {
  width: 50px;
}
 .table > tbody > tr > td {
  vertical-align: middle;
}