@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.logo-img {
  position: absolute;
  height: 50px;
}
.avatar-list-thumb {
  width: 50px;
}
 .table > tbody > tr > td {
  vertical-align: middle;
}
 .user-detail-avatar {
   width: 150px;
   margin: 0 auto;
   padding: 3px;
   border: 3px solid #d2d6de;
 }