@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.logo-img {
  position: absolute;
  height: 50px;
}
.avatar-list-thumb {
  width: 50px;
}
 .table > tbody > tr > td {
  vertical-align: middle;
}
 .user-detail-avatar {
   width: 150px;
   margin: 0 auto;
   padding: 3px;
   border: 3px solid #d2d6de;
 }
 .users-list {
   list-style: outside none none;
   margin: 0;
   padding: 0;
 }
.users-list > li {
  text-align: center;
}
.users-list-name {
  color: #444;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.users-list-date {
  color: #999;
  font-size: 12px;
}
.users-list > li img {
  border-radius: 50%;
  height: auto;
  max-width: 100%;
  width: 120px;
}
.users-list > li {
  float: left;
  padding: 10px;
  text-align: center;
  width: 25%;
}
.text-small {
  font-size: 13px;
}